.row1{
    position: relative;
    top: 115px;
    width: 7000px;
    height: 100px;
    background-color: #ccebff;
}
.img2{
    position: relative;
    left: 40px;
    /*top: 90px;*/
}
.img3{
    position: relative;
    left: 150px;
    top: 33px;
}
.img4{
    position: relative;
    left: 170px;
    top: 33px;
}
.img5{
    position: relative;
    left: 270px;
    top: 33px;
}
.input-group{
    position: relative;
    top: 33px;
    left: 100px;
}
.btnn{
    position: relative;
    width: 30px;
    height: 30px;
    left: 180px;
    top: 38px;
}
.text{
    position: relative;
    left: 190px;
    top: 40px;
}
.dropdown{
    position: relative;
    left: 300px;
    top: 90px;
}
.home{
    border: 2px solid lightgrey;
    background-color: lightgray;
    width: 1200px;
    height: 50px;
    position: relative;
    bottom: 0px;
    padding: 10px;
}
.img{
    position: relative;
    bottom: 50px;
    right: 16px;
}
.immg{
    position: relative;
    bottom: 60px;
}
/*.ml-5{
    position: relative;
    bottom: 420px;
    left: 300px;
}
p{
    position: relative;
    bottom: 420px;
    left: 350px;
}
h4{
    position: relative;
    bottom: 420px;
    left: 350px;
}*/
.column{
    column-gap: 70px;
    column-rule: 5px solid #7fcd9b;
    column-width: 300px;
}
.men{
    position: relative;
    bottom: 350px;
    width: 700px;
    left: 350px;
}
.maftuna1{
    position: relative;
    bottom: 350px;
    width: 700px;
    left: 300px;
}
h4{
    position: relative;
    bottom: 350px;
    left: 350px;
}
.bbb{
    position: relative;
    bottom: 300px;
}
.column1{
    column-gap: 100px;
    column-rule: 5px solid #7fcd9b;
    column-width: 300px;
    background-color: lightgreen;
}
.jm{
    width: 1140px;
    height: 400px;
    position: relative;
    bottom: 1185px;
    background-color: white;
}
table{
    position: relative;
    left: 100px;
}
.btn1{
    position: relative;
    right: 10px;
    background-color: darkgrey;
}
.btn3{
    position: relative;
    right: 25px;
    background-color: darkgrey;
}
.btn2{
    position: relative;
    right: 20px;
}
.p{
    position: relative;
    bottom: 50px;
    left: 320px;
    height: 10px;
}
.pp{
    position: relative;
    left: 650px;
    top: 40px;
}
.btn4{
    border-color: #ffa7a7;
    color: white;
}
.mftn{
    position: relative;
    left: 700px;
    top: 40px;
}
.jm1{
    position: relative;
    width: 1300px;
    height: 600px;
    bottom: 1160px;
    background-color: white;
    /*right: 16px;*/
}
.tr{
    color: white;
    background-color: black;
    width: 1000px;
    height: 50px;
}
.con{
    position: relative;
    top: 400px;
    left: 100px;
}
.mf6{
    position: relative;
    top: 320px;
    left: 550px;
}
.mft{
    position: relative;
    border: 2px solid saddlebrown;
    background-color: saddlebrown;
    width: 1170px;
    bottom: 1200px;
    right: 31px;
}
.mf7{
    position: relative;
    left: 505px;
}
.emile{
    position: relative;
    border: 1px solid black;
    width: 350px;
    height: 45px;
    left: 370px;
    text-align: left;
    bottom: 35px;
}
.password{
    position: relative;
    border: 1px solid black;
    width: 350px;
    height: 45px;
    left: 370px;
    text-align: left;
    bottom: 30px;
}
.up{
    position: relative;
    width: 350px;
    height: 45px;
    left: 370px;
}
.return{
    position: relative;
    left: 495px;
    top: 30px;
}
.first{
    position: relative;
    border: 1px solid black;
    width: 350px;
    height: 45px;
    left: 370px;
    text-align: left;
    bottom: 50px;
}
.lest{
    position: relative;
    border: 1px solid black;
    width: 350px;
    height: 45px;
    left: 370px;
    text-align: left;
    bottom: 45px;
}
