.row1{
    position: relative;
    top: 115px;
    width: 7000px;
    height: 100px;
    background-color: #ccebff;
}
.img2{
    position: relative;
    left: 40px;
    /*top: 90px;*/
}
.img3{
    position: relative;
    left: 150px;
    top: 33px;
}
.img4{
    position: relative;
    left: 170px;
    top: 33px;
}
.img5{
    position: relative;
    left: 270px;
    top: 33px;
}
.input-group{
    position: relative;
    top: 33px;
    left: 100px;
}
.btnn{
    position: relative;
    width: 30px;
    height: 30px;
    left: 180px;
    top: 38px;
}
.text{
    position: relative;
    left: 190px;
    top: 40px;
}
.dropdown{
    position: relative;
    left: 300px;
    top: 90px;
}
.home{
    border: 2px solid lightgrey;
    background-color: lightgray;
    width: 1200px;
    height: 50px;
    position: relative;
    bottom: 0px;
    padding: 10px;
}
.img{
    position: relative;
    bottom: 50px;
    right: 16px;
}
.immg{
    position: relative;
    bottom: 60px;
}
/*.ml-5{
    position: relative;
    bottom: 420px;
    left: 300px;
}
p{
    position: relative;
    bottom: 420px;
    left: 350px;
}
h4{
    position: relative;
    bottom: 420px;
    left: 350px;
}*/
.column{
    column-gap: 70px;
    column-rule: 5px solid #7fcd9b;
    column-width: 300px;
}
.men{
    position: relative;
    bottom: 350px;
    width: 700px;
    left: 350px;
}
.maftuna1{
    position: relative;
    bottom: 350px;
    width: 700px;
    left: 300px;
}
h4{
    position: relative;
    bottom: 350px;
    left: 350px;
}
.bbb{
    position: relative;
    bottom: 300px;
}
.column1{
    column-gap: 100px;
    column-rule: 5px solid #7fcd9b;
    column-width: 300px;
    background-color: lightgreen;
}
.jm{
    width: 1140px;
    height: 3000px;
    position: relative;
    bottom: 3510px;
    background-color: white;
}
.mft{
    position: relative;
    border: 2px solid saddlebrown;
    background-color: saddlebrown;
    width: 1170px;
    bottom: 1200px;
    right: 31px;
}
.mf7{
    position: relative;
    left: 505px;
}
.i1{
    position: relative;
    bottom: 40px;
    right: 10px;
}
.i2{
    position: relative;
    bottom: 540px;
    left: 705px;
}
.i3{
    position: relative;
    bottom: 287px;
    left: 321px;
}
h5{
    position: relative;
    left: 60px;
    bottom: 50px;
}
h6{
    position: relative;
    left: 60px;
    bottom: 50px;
}
.icon1{
    position: relative;
    top: 20px;
    left: 10px;
}
.icon2{
    position: relative;
    left: 330px;
    bottom: 90px;
}
.icon3{
    position: relative;
    left: 650px;
    bottom: 200px;
}
.icon4{
    position: relative;
    left: 940px;
    bottom: 310px;
}
.free{
    position: relative;
    border: 2px solid #ecdd8d;
    width: 1200px;
    height: 100px;
    background-color: #ecdd8d;
    bottom: 6000px;
}
table{
    position: relative;
    bottom: 5980px;
    width: 300px;
    left: 20px;
}
.bbn{
    position: relative;
    background-color: #2af6e7;
}
















